.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  width: 100%;
  height: 100%;
  gap: 5rem;
  color: white;
  .about-wrapper {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 60%;
    gap: 2rem;
    .about-img {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .about-main {
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content: center;
      text-align: left;
      .atag {
        display: flex;
        gap: 1rem;
      }
      .about-profile {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .main-skills {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
        }
        .title {
          display: flex;
          flex-direction: column;
          font-weight: bold;
          gap: 0.1rem;
        }
        .detail {
          display: flex;
          flex-direction: column;
          color: "white";
          gap: 0.1rem;
        }
      }
      a {
        background-color: white;
        color: black;
        padding: 1% 3% 1% 3%;
        border-radius: 10px;
        transition: 0.5s ease-in-out;
        text-decoration-line: none;
        font-weight: bold;
        &:hover {
          color: white;
          background-color: black;
        }
      }
      .span1 {
        background-color: white;
        color: black;
        padding: 1% 3% 1% 3%;
        border-radius: 10px;
        transition: 0.5s ease-in-out;
        text-decoration-line: none;
        font-weight: bold;
        &:hover {
          cursor: pointer;
          color: white;
          background-color: black;
        }
      }
    }
  }
  @media (max-width: 1680px) {
    .about-wrapper {
      width: 80%;
      height: 70%;
    }
  }
  @media (max-width: 1024px) {
    .about-wrapper {
      width: 90%;
      height: 70%;
    }
  }
  @media (max-width: 768px) {
    .about-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 1.2rem;
      }
      .about-main {
        width: 80%;
        .atag {
          display: none;
        }
        .about-profile {
          .main-skills {
            display: none;
          }
          .detail {
            display: flex;
            flex-direction: column;
            color: "white";
            gap: 0.1rem;
          }
        }
      }
    }
  }
}
