.app-wrapper {
  @media (min-width: 769px) {
    .mobile-wrapper {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .main-wrapper {
      display: none;
    }
  }
}
.swiper-pagination-bullet {
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
