.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 25px;
  z-index: 9;
  .mobile-wrapper {
    display: none;
    .mobile-wrapper2 {
      position: relative;
      .mobile-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 9;
        background: none;
        border: none;
        padding: 0;
        .bar {
          width: 30px;
          height: 4px;
          background-color: white;
          transition: transform 0.5s ease, opacity 0.5s ease;
        }
        .active {
          background-color: black;
          transform: rotate(45deg) translate(4px, 6px);
        }
      }
    }
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25%;
    h3 {
      color: #696969;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      &:hover {
        color: white;
      }
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px white;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover:after {
        transform: scaleX(1);
      }
    }
    .header-title {
      .Title {
        font-size: 2rem;
        &:hover {
          color: white;
          font-size: 2rem;
        }
      }
    }
    .header-menu {
      font-size: 0.8rem;
      display: flex;
      gap: 2rem;
      .Menu-selected {
        color: white;
      }
    }
  }
  @media (max-width: 1680px) {
    .header-wrapper {
      margin: 0 20%;
    }
  }
  @media (max-width: 1024px) {
    .header-wrapper {
      margin: 0 12%;
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .header-wrapper {
      display: none;
    }
    .mobile-wrapper {
      display: flex;
      flex-direction: row;
      color: white;
      justify-content: end;
    }
  }
}
