.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  width: 100%;
  height: 100%;
  gap: 2rem;
  color: white;
  .mySwiper {
    width: 55%;
    height: 80%;
    border-radius: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-weight: bold;
    color: gray;
    transition: 0.3s ease-in-out;
    &:hover {
      color: black;
    }
  }
  @media (max-width: 1680px) {
    .mySwiper {
      width: 70%;
    }
  }
  @media (max-width: 1024px) {
    .mySwiper {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    .mySwiper {
      width: 80%;
      margin-bottom: 10%;
      border-radius: 10px;
      .swiper-button-next,
      .swiper-button-prev {
        color: black;
      }
    }
  }
}
